@model IEnumerable<ProjectX.Model.Entities.Update>
@{
    ViewBag.Title = "Feed";
}
<h2>
    Latest updates</h2>
    <div class="updates">
    @foreach (var update in Model)
    {
        <div class="row-fluid">
            <div class="span1">
                <img src="/Content/images/icons/@(update.Type).png" />
            </div>
            <div class="span11">
                <p><a href="#">@update.Header</a></p>
                <p>@update.Message</p>
                <p>@update.Added - @update.Project.Name</p>
            </div>
        </div>
    }
    </div>
